name: Deploy YS

on:
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Build app
      uses: hyoo-ru/mam_build@master2
      with:
        token: ${{ secrets.GH_PAT }}
        package: 'club_frontend'
        modules: club
    - name: Deploy on GitHub Pages
      if: github.ref == 'refs/heads/master'
      uses:  hyoo-ru/gh-deploy@v4.4.1
      with:
        site-directory: 'club/-'
